.header {
  padding: 0.5rem;
  margin-bottom: 2rem auto;
}

.header nav{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.header ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.header a {
  color: #ffffff;
  text-decoration: none;
}

.header a:hover {
  text-decoration: underline;
}

.header span {
  color:#b1f6e2;
  margin-inline-start: 3%;
}




ul:first-child{
  float: left;
}
