@font-face {
  font-family: 'alata';
  src: url('./styles/fonts/Alata-Regular.ttf') format('truetype');
  font-style: normal;
}
#root {
  font-family: alata;
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0.5rem; */
  text-align: center;
}

/* main > *{
padding: 20px;
} */

ul{
  list-style-type: none;
  padding: 0 auto;
  padding-inline-start:0%
}

body {
  background-color: #2a56c9;
  min-height: 100vh;
  margin: 0 auto;
}
 p{
  margin: 0 ;
 }

