@font-face {
  font-family: "alata";
  src: url("./styles/fonts/Alata-Regular.ttf") format("truetype");
  font-style: normal;
}

#root {
  font-family: alata;
  margin: 0;
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
  padding: 1rem;
}

body {
  margin: 0;
}

.card {
  background-color: var(--background-color);
}

ul {
  list-style-type: none;
  padding: 0 auto;
  padding-inline-start: 0%;
}
p {
  margin: 0;
}
h3 {
  margin: 0 0 1rem 0;
  color: aliceblue;
}
a {
  text-decoration: none;
}
