.section input {
  font-family: alata;
  font-size: 0.8rem;
  border: solid 1px #2a56c9;
  border-radius: 16px;
  margin-bottom: 1rem;
  text-align: center;
  padding: 0.2rem;
  color: #2a56c9;
}

::placeholder {
  color: #2a56c9;
}
