.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 250px;
  background-color: #ffffff;
  color: #2a56c9;
  padding: 1rem;
  border-radius: 20px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.59) -4px 5px 10px 0px;
  animation: fadeIn 1s;
}

.card:hover{
  transform: scale(1.02);
  transition-duration: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  font-size: 0.8rem;
}

.card span {
  color: #2a56c9;
}

button {
  font-family: alata;
  font-size: 0.8rem;
  background: inherit;
  color: #2a56c9;
  border: solid 1px #2a56c9;
  border-radius: 16px;
  height: 50%;
  padding: 0 0.5rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.addbutton {
border: 0;
padding: 0;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a56c9;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 1;
}

.slider:before {
  position: absolute;
  content: "c";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:after {
  position: absolute;
  height: 26px;
  width: 26px;
  right: 4px;
  bottom: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  pointer-events: none; /* This line ensures the "C" element is not clickable */
}

input:checked + .slider:before {
  content: "f";
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.favorite {
  display: flex;
}
.card:hover + .favorite{
}

.card h2 {
  margin: 0 0 0.5rem 0;
}
