.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20%;
  max-width: 25%;
  background-color: #ffffff;
  color: #2a56c9;
  padding: 1rem;
  border-radius: 20px;
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.59) -4px 5px 10px 0px;
  animation: fadeIn 1s;
}

.card:hover{
  transform: scale(1.02);
  transition-duration: 0.1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  font-size: 0.8rem;
}

.card span {
  color: #2a56c9;
}

button {
  font-family: alata;
  font-size: 0.8rem;
  background: inherit;
  color: #2a56c9;
  border: solid 1px #2a56c9;
  border-radius: 16px;
  height: 50%;
  padding: 0 0.5rem;
}

button:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition-duration: 0.5s;
}

.addbutton {
border: 0;
padding: 0;

}

.favorite {
  display: flex;

}
.card:hover + .favorite{
}

.card h2 {
  margin: 0 0 0.5rem 0;
}
